body{
    font-family: Poppins;
    background-color: #9395B8;
    --main-fg-color: #f0f8ff;
    --main-bg-color: #111338;
    --main-btn-color: #9395B8;
    box-sizing: border-box;
}

.header{
    overflow:hidden;
    background-color: var(--main-bg-color);
    border-radius: 10px;
    padding: 20px 10px;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-fg-color);
    display: flex;
    justify-content: space-between;
}

#company-name{
    justify-content: left;
    margin-left: 1em;
}

.menu{
justify-content: right;
margin-right: 1em;
}

#about-us, #our-projects, #contact-us {
    display: inline-block;
    transition: transform 0.3s ease; 
}

#about-us:hover,#our-projects:hover, #contact-us:hover {
    transform: scale(1.3);
}

#about-us a{
    text-decoration: none;
}
#about-us a:visited{
    text-decoration: none;
    color: var(--main-fg-color);
}

#our-projects{
    margin-left: 1em;
}
#our-projects a{
    text-decoration: none;
}
#our-projects a:visited{
    text-decoration: none;
    color: var(--main-fg-color);
}
#contact-us{
    margin-left: 1em;
}
#contact-us a{
    text-decoration: none;
}
#contact-us a:visited{
    text-decoration: none;
    color: var(--main-fg-color);
}

.about-section{
    position: relative;
    overflow: hidden;
    display: flex;
    border-style: none;
    border-radius: 10px;
    border-color:#111338;
    margin-inline: 10%;
    padding: 2em;
    text-align: left;
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);  
    justify-content: center;
    height: 75dvh;
    width: auto;
}

#about-us-paragraph{
    white-space: pre-line;
    overflow: hidden;
    padding-left: 2em;
    padding-right: 2em;
    border-right: .15em solid var(--main-fg-color);
    border-left: .15em solid var(--main-fg-color);
    animation: typing 2s steps(1869, end);
    font-size: clamp(16px, 3vw, 24px); /* Adjust the range as needed */

    
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}


#about-us-heading{
    color: var(--main-fg-color);
    text-align: center;
}


#our-projects-slider{
    padding-top: 20px; /* Adjust as needed */
    padding-left: 1em; /* Adjust as needed */
    margin-top: 25dvh;
    margin-bottom: 25dvh;
    position: relative;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    border-style: none;
    border-width: 2px;
}


#left-button, #right-button{
    position: absolute;
    top: 50%;
    background-color:var(--main-bg-color);
    border-style: none;
    width: 3em;
    height: 3em;
    cursor: pointer;
    transition: 0.6s ease;
    user-select: none;
    color: var(--main-fg-color);
    font-weight: bold;

}

#right-button {
    right: 0em;
    border-radius: 3px 0 0 3px;
}
#left-button {
    left: 0em;
    border-radius:  0 3px 3px 0;
}

#left-button:hover, #right-button:hover{
    background-color: var(--main-btn-color);
}

/* Fading animation */
.slider-container{
    animation-name: fade;
    animation-duration: 1.5s;
    display: flex; 
    overflow: hidden;

  }
  
  .slider-container img{
    max-width: 50%;
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .hidden{
    opacity: 0;
    transition: all 1s;
  }

  .show{
    opacity: 1;
  }